<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stoil Sedyankov</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <header>
        <nav class="navbar box-shadow mb-3">
            <div class="container d-flex justify-content-center align-items-center">
                <img class="m-1" src="./images/logo.png" alt="Logo Image" height="50">
                <h1 class="m-1">TO-DO LIST</h1>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-4">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container text-center">
            &copy; 2024 TO-DO LIST by Stoil Sedyankov
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>